<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>Quiz</title>
    <link rel="apple-touch-icon" sizes="60x60" href="/static/media/QQ-favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/media/QQ-favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/media/QQ-favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/media/QQ-favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/media/QQ-favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
      rel="stylesheet"
    />
    <script src="/static/script/script-quiz-question.js"></script>
  </head>
  <body>
  <header th:insert="~{fragments/header :: ${headerType}}">
  </header>
    <main>
      <section class="quiz-question-box">
        <p class="question-ind">Question <span th:text="${questionCount}"></span>/<span th:text="${questionNum}"></span></p>
        <div class="time-line">
          <div class="time-line-filling" id="time-line">&nbsp;</div>
          &nbsp;
        </div>
        <script>
          let score = [[${score}]];
          expandTimeLineWidth([[${duration}]]);
        </script>
        <p class="question" th:text="${question}">How many stars are around the Earth?</p>
        <div class="answers" >
          <div th:switch="${correctAnswer}">
            <span th:case="'True'" onclick="checkAnswer(true)">True</span>
            <span th:case="*" onclick="checkAnswer(false)">True</span>
          </div>
          <div th:switch="${correctAnswer}">
            <span th:case="'False'" onclick="checkAnswer(true)">False</span>
            <span th:case="*" onclick="checkAnswer(false)">False</span>
          </div>
        </div>
      </section>
    </main>
  <footer th:insert="~{fragments/footer :: footer}">
  </footer>
  </body>
</html>
